<!DOCTYPE html>
<html>
    <head th:replace="layout :: head(~{::title})">
        <title>Introduce</title>
    </head>
    <body>
        <header th:replace="layout :: header"></header>

        <!-- {{-- Breadcrumb Section Begin --}} -->
        <div class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-text">
                            <a href="/home"><i class="fa fa-home"></i> Home</a>
                            <span>Introduce</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- {{-- Breadcrumb Section End --}} -->
        <section class="product-shop spad page-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="filter-widget" style="border: 2px solid rgb(0, 149, 255); text-align: center; padding: 10px 3px">
                            <h4 class="fw-title">Information about VEGETABLESHOP</h4>
                            <ul>
                                <li style="list-style: none;">District 2 - Ho Chi Minh City</li>
                                <li style="list-style: none;">Phone number: +84 98.76.54.321</li>
                                <li style="list-style: none;">Email: vegetableshop@gmail.com</li>
                            </ul>
                            <div class="footer-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>  
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product-pic">
                                    <img class="product-big-img" src="images/introduce.jpg" alt="">
                                </div> 
                            </div>
                            <div class="col-lg-12" style="margin: 20px 0px">
                                <div class="contact">
                                    <div class="fw-title">
                                        <h3 style="color: black"><b>Introduce</b></h3>
                                    </div>
                                    <div class="pd-desc" style="color: black; padding: 15px 0px">
                                        <h4>The development history of the vegetable store <b>VEGETABLESHOP</b></h4>  
                                    </div>
                                    <div class="pd-share">
                                        <p>In recent years, <b>VEGETABLESHOP</b> 
                                            company has been known to customers as a reputable and quality vegetable brand. 
                                            We are proud to be the place to bring consumers fresh vegetable products and
                                            ensure nutritional quality. To continue those resounding successes, 
                                            our company continues to expand and develop its own VEGETABLESHOP brand</p>
                                    </div>
                                    <div class="pd-desc" style="color: black; padding: 15px 0px">
                                        <h4>About the vegetable shop <b>VEGETABLESHOP</b></h4>  
                                    </div>
                                    <div class="pd-share">
                                        <p>The high quality Vegetable products <b>VEGETABLESHOP</b>  is providing:</p>
                                        <p><b>LEAF VEGETABLES:</b> Lettuce, Broccoli, Cabbage, Spinach, Dandelion, Water spinach, Amaranth, Coriander, Asparagus, Kale, Kale, Kale, Kale, Spinach...</p>
                                        <p><b>VEGETABLES:</b> Tomato, Cucumber, Bitter gourd, Eggplant, Squash, Melon, Sticky Beans, Baby Corn, Okra, Chopsticks, Peas, Bell Peppers,...</p>
                                        <p><b>VEGETABLE VEGETABLES:</b> Leeks, Carrots, White Radishes, Beetroot, Kohlrabi, Lotus Roots, Potatoes, Sweet Potatoes, Taro, Purple Onions. Garlic, Turmeric, Ginger Root, Star Anise ..</p>
                                        <p><b>Tofu & Mushrooms:</b> Abalone Mushrooms, Dong Co Mushrooms, Meo Mushrooms, Moc Nhai Mushrooms,...</p>
                                        <p><b>CANNED VEGETABLES:</b> Green Olive, Black Olive, Artichoke,...</p>
                                    
                                    </div> 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="benefit-items">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="single-benefit">
                                        <div class="sb-icon">
                                            <img src="images/icon-1.png" alt="">
                                        </div>
                                        <div class="sb-text">
                                            <h6>Free Ship</h6>
                                            <p>All orders from $50</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="single-benefit">
                                        <div class="sb-icon">
                                            <img src="images/icon-2.png" alt="">
                                        </div>
                                        <div class="sb-text">
                                            <h6>Delivery on time</h6>
                                            <p>If there's no problem</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="single-benefit">
                                        <div class="sb-icon">
                                            <img src="images/icon-3.png" alt="">
                                        </div>
                                        <div class="sb-text">
                                            <h6>Quick payment</h6>
                                            <p>100% Safe</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="layout :: footer"></footer>
    </body>
     <script th:replace="layout::script"></script>
</html>
